<h1>{{title}}</h1>
<p>Welcome to {{title}}</p>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sequi quam quaerat quia vitae quas recusandae maiores deleniti optio rerum cum, ipsum, ipsa libero saepe explicabo odit. Rem animi ipsam earum!</p>
<h2>Complete el siguiente formulario</h2>
<form action="">
    <input type="text" placeholder="nombre">
</form>